<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/admin-nav %>
    <% include ../partials/nav %>

    <main>
      <div class="new-destinations">
        <form onsubmit="false">
          <label for="first-name">First Name</label>
          <input id="first-name" type="text" placeholder="Enter first name" />
          <label for="second-name">Second Name</label>
          <input id="second-name" type="text" placeholder="Enter second name" />
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Enter email" />
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="Enter password" />
          <label for="phone">Phone Number</label>
          <input id="phone" type="text" placeholder="Enter phone Number" />
          <label for="image">Image</label>
          <input id="image" type="file" />
          <label for="bio">Bio</label> 
          <textarea id="bio" placeholder="Enter bio"></textarea>
          <div class="controls">
            <button id="cancel">Cancel</button>
            <button id="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="table" id="users">
        <table>
          <caption>Users</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>First Name</th>
              <th>Second Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% for(let user of users) { %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <img src=" <%= user.image %>" alt="No Image" />
                </td>
                <td><%= user.first_name %></td>
                <td><%= user.second_name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><button class="edit">Edit</button></td>
                <td><button class="remove">Remove</button></td>
              </tr>
            <% } %>
         </tbody>
        </table>
      </div>
    </main>

  </div>
  <% include ../partials/footer %>

  <% include ../partials/scripts %>
  <script src="javascripts/users.js"></script>

</body>
</html>