<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/admin-nav %>
    <% include ../partials/nav %>

    <main>
      <div class="new-destinations">
        <form action="">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="Enter flight name" />
          <label for="from">From</label>
          <input id="from" type="number" placeholder="Enter departure point" />
          <label for="to">To</label>
          <input id="to" type="number" placeholder="Enter destination point" />
          <label for="expiration-date">Expiration Date</label>
          <input id="expiration-date" type="date" placeholder="Enter expiration date" />
          <label for="departure">Departure Date</label>
          <input id="departure" type="datetime" placeholder="Enter departure date" />
          <label for="duration">Duration, hours</label>
          <input id="duration" type="number" placeholder="Enter duration" />
          <label for="price">Price, USD</label>
          <input id="price" type="number" step="0.01" placeholder="Enter price" />
          <label for="image">Image</label>
          <input id="image" type="file" placeholder="Choose image" />
          <label for="description">Description</label>
          <textarea id="description"></textarea>
          <div class="controls">
            <button id="cancel">Cancel</button>
            <button id="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="table" id="flights">
        <table>
          <caption>Flights</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>From</th>
              <th>To</th>
              <th>Expires</th>
              <th>Departure</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% for(let flight of flights) { %>
              <tr>
                <td><%= flight.id %></td>
                <td>
                  <img src="<%= flight.image %>" alt="No Image" />
                </td>
                <td><%= flight.name %></td>
                <td><%= flight.from_point %></td>
                <td><%= flight.to_point %></td>
                <td><%= flight.expiration_date %></td>
                <td><%= flight.departure %></td>
                <td><%= flight.price %>$</td>
                <td><button class="edit">Edit</button></td>
                <td><button class="remove">Remove</button></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/flights.js"></script>

</body>
</html>