<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/admin-nav %>
    <% include ../partials/nav %>

    <main>
      <div class="new-destinations">
        <form action="">
          <label for="user-id">User ID</label>
          <input id="user-id" type="number" placeholder="Enter user id" />
          <label for="flight-id">Flight ID</label>
          <input id="flight-id" type="number" placeholder="Enter flight id" />
          <label for="applying-time">Applying Time</label>
          <input id="applying-time" type="datetime" />
          <label for="paying-time">Paying Time</label>
          <input id="paying-time" type="datetime" />
          <label for="rejection-time">Rejection Time</label>
          <input id="rejection-time" type="datetime" />
          <label for="is-paid">Is Paid</label>
          <input id="is-paid" type="checkbox" />
          <label for="is-rejected">Is Rejected</label>
          <input id="is-rejected" type="checkbox" />

          <div class="controls">
            <button id="cancel">Cancel</button>
            <button id="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="table" id="orders">
        <table>
          <caption>Orders</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>User ID</th>
              <th>Flight ID</th>
              <th>Applying Time</th>
              <th>Paying Time</th>
              <th>Rejection Time</th>
              <th>Is Paid</th>
              <th>Is Rejected</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% for(let order of orders) { %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.user_id %></td>
                <td><%= order.flight_id %></td>
                <td><%= order.applying_time %></td>
                <td><%= order.paying_time %></td>
                <td><%= order.rejection_time %></td>
                <td><%= order.is_paid %></td>
                <td><%= order.is_rejected %></td>
                <td><button class="edit">Edit</button></td>
                <td><button class="remove">Remove</button></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

  </div>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/orders.js"></script>

</body>
</html>